* {
  box-sizing: border-box;
  justify-content: space-between;
}

html {
  background-color: snow;
}

body {
  margin-left: 15px;
  margin-right: 15px;
}

header {
  text-align: center;
  margin: auto;
}

/* .row-1 {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  
} */

#calc-compartments {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

.compartment {
  padding: 15px;
  
}

.col-1 {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-content: flex-start;
  background-color: #3E92CC;
  margin: 5px;
  /* flex-basis: 50%;
  /* justify-content: flex-start; */ */
  /* background-color: gray; */
}

#meal-forms {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

#meal-forms > label {
  padding-top: 13px;
}

#meal-forms > button {
  margin-top: 7px;
}

.col-2 {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  flex-direction: column;
}

.customer-charges {
  background-color:#2A628F;
  margin: 5px;
}

.earnings-info {
  background-color: #3DB4CC;
  margin: 5px;
}

#reset-button {
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 150px;
  font-weight: bold;
}